* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    position: relative;
}

main {
    max-width: 793px;
    width: 100%;
    position: absolute;
    left: calc(50% - 793px / 2);
    top: 50px;
}

.container {
    background: #3B3F45;
    padding-top: 0;
    padding-bottom: 45px;
}

.header {
    text-align: center;
    background: #4A4F56;
    padding-top: 19px;
    padding-bottom: 12px;
}

.title {
    color: #FF8984;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 4px;
}

.subtitle {
    color: #FF8984;
    font-weight: 600;
    font-size: 16px;
    font-weight: 400;
}

.shopping-list {
    margin-top: 20px;
    margin-bottom: 45px;
}

.list-container {
    background: #6473824d;
    max-width: 534px;
    margin: 0 auto; /* центрування по горизонталі */
    overflow: hidden;
}

/* Селектор за класом для елементів списку */
.list-item {
    display: block;
    font-size: 0;
    padding: 18px 20px;
    cursor: pointer;
    position: relative;
    transition: all .1s ease-in;
    background: #78829180;
    border-bottom: 1px solid #ffffff0d;
}

/* Селектор сусідів "+" - додає відступ між елементами */
.list-item+.list-item {
    margin-top: 0;
}

/* :nth-child - зеброва розмітка для кольорів */
.list-item:nth-child(odd) {
    background: #88839E;
}

.list-item:nth-child(even) {
    background: #7A7593;
}

/* :hover - ефект при наведенні */
.list-item:hover {
    background: #625E77;
}

.item-text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    /* 20px чекбокс + 15px margin-right */
    color: #ffffffe6;
    font-size: 16px;
    flex-grow: 1;
    transition: all .1s ease-in;
}

/* Селектор за елементом em для підказок */
em {
    font-style: italic;
    color: #ffffff80;
    font-size: 13px;
    margin-left: 8px;
}

/* Селектор за елементом footer */
footer {
    text-align: center;
    margin: 0;
}

/* Селектор за класом для кнопки */
.btn-appetit {
    display: block;
    margin: 0 auto;
    background-color: #4A4F56;
    color: #FF8984;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: all .1s ease-in;
    font-weight: 600;
    width: 534px;
}

/* :hover для кнопки */
.btn-appetit:hover {
    background: #3a5e4f;
    transform: translateY(-2px);
}

/* :active для кнопки */
.btn-appetit:active {
    transform: translateY(0);
}