* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    position: relative;
}

main {
    max-width: 793px;
    width: 100%;
    position: absolute;
    left: calc(50% - 793px / 2);
    top: 50px;
}

.container {
    background: #3B3F45;
    padding-top: 0;
    padding-bottom: 45px;
}

/* Селектор за елементом footer */
footer {
    text-align: center;
    margin: 0;
}